#SPCommander{
    position:                       relative !important;
    width:                          100% !important;
    font-family:                    sans-serif !important;
    color:                          #000 !important;
    z-index:                        999 !important;
    font-size:                      12px !important;
    font-weight:                    bold !important;
    text-align:                     left !important;
}

#SPCommander, .SPCOM-listInfo, .SPCOM-menu-item{
    background-color:               #83b0d9 !important;
}

#SPCommander a:link, #SPCommander a:visited, #SPCommander a:active{
    color:                          #000 !important;
    text-decoration:                none !important;
}

#SPCOM-exit, .SPCOM-menu-td{
    padding:                        5px !important;
}

#SPCOM-exit{
    text-align:                     center !important;
    float:                          right !important;
}

.SPCOM-menu-td{
    width:                          200px !important;
    padding:                        10px !important;
}

#SPCOM-menu{
    width:                          95% !important;
    margin:                         0px !important;
}

.SPCOM-shaded, .SPCOM-listInfo-field-detail{
    background-color:               #e9caca !important;
}

.SPCOM-shaded{
    cursor:                         pointer !important;
}

.SPCOM-menu-container{
    position:                       absolute !important;
    display:                        none;
    height:                         300px !important;
    width:                          250px !important;
    overflow:                       auto !important;
    margin:                         13px -10px !important;
}

.SPCOM-menu-item{
    width:                          100% !important;
}

.SPCOM-menu-item td{
    position:                       relative !important;
    left:                           -2px !important;
    right:                           -2px !important;
    padding:                        5px !important;
    border-left:                   1px solid #6089b7 !important;
    border-bottom:                  1px solid #6089b7 !important;
}

.SPCOM-listInfo{
    width:                          850px !important;
    height:                         450px !important;
    text-align:                     left !important;
    position:                       absolute !important;
    display:                        none;
    top:                            100px;
    font-size:                      12px !important;
    color:                          #000 !important;
}

.SPCOM-listInfo-commands{
    height:                         200px !important;
    overflow:                       auto !important;
}

.SPCOM-listInfo-field-detail{
    display:                        none;
}

.SPCOM-listInfo-topTable{
    width:                          100% !important;
}

.SPCOM-listInfo-topTable td{
    padding:                        5px !important;
}

.SPCOM-listInfo-bar{
    width:                          100% !important;
}

.SPCOM-listInfo-bar td{
    background-color:               #6089b7;
}

.SPCOM-listInfo-exit{
    width:                          5% !important;
    cursor:                         pointer !important;
    text-align:                     center !important;
}

.SPCOM-listInfo-catTable{
    width:                          100% !important;
    height:                         350px !important;
}

.SPCOM-listInfo-menu1, .SPCOM-listInfo-menu2, .SPCOM-listInfo-menu3{
    overflow:                       auto !important;
    height:                         335px !important;
}

.SPCOM-listInfo-catTable td{
    width:                          33% !important;
    background-color:               #6089b7;
    padding:                        5px !important;
    font-size:                      10px !important;
}

.SPCOM-listInfo-desc{
    font-size:                      10px !important;
}

.SPCOMprop div{
    scrollbar-base-color:           #83b0d9 !important;
    scrollbar-face-color:           #6089b7 !important;
    scrollbar-darkshadow-color:     #6089b7 !important;
    scrollbar-highlight-color:      #6089b7 !important; 
    scrollbar-shadow-color:         #6089b7 !important; 
    scrollbar-3dlight-color:        #6089b7 !important;
    scrollbar-track-color:          #83b0d9 !important;
    scrollbar-arrow-color:          #6089b7 !important;
}

.SPCOM-listInfo-status{
    display:                        none;
    text-align:                     center !important;
    font-weight:                    bold !important;
    width:                          100% !important;
}

.SPCOM-listInfo-status td{
    background-color:               #FDA !important;
}

.SPCOM-listInfo-sub1, .SPCOM-listInfo-sub2{
    padding:                        5px !important;
    font-size:                      10px !important;
}

.SPCOM-listInfo-title{
    font-weight:                    bold !important;
    text-align:                     center !important; 
}

.SPCOM-listInfo a:link, .SPCOM-listInfo a:visited{
    color:                          #000 !important;
    background-color:               #6089b7 !important;
    text-decoration:                none !important;
}

.SPCOM-listInfo a:hover{
    color:                          #000 !important;
    background-color:               #e9caca !important;
    text-decoration:                none !important;
}

.SPCOM-listInfo a:active{
    color:                          #000 !important;
    background-color:               #FDA !important;
    text-decoration:                none !important;
}

.SPCOM-listInfo-catTable .SPCOM-listInfo-headers{
    text-align:                     center !important;
    font-weight:                    bold !important;
    border-bottom:                  1px solid #000 !important;
    border-top:                     1px solid #000 !important;
}